.reset-div {
  padding: 2%;

  h1 {
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .start-reset-button {
    margin-top: 20px;
    padding: 5px 0 5px 0;
    background: $light-blue;
    font-size: 20px;
  }
  .start-reset-button:disabled {
    background-color: rgba(19, 1, 1, 0.3);
    border-color:rgba(195, 195, 195, 0.3);
  }

  .container {
    padding: 0;
    .row {
      .col {
        padding: 0;
      } 
    }
  }

  .reset-new-password-input {
    margin-bottom: 0;
  }
}