.register-div {
  padding: 2%;

  h1 {
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .register-button {
    margin-top: 20px;
    padding: 5px 0 5px 0;
    background: $light-blue;
    font-size: 20px;
  }

  .register-button:disabled {
    background-color: rgba(19, 1, 1, 0.3);
    border-color:rgba(195, 195, 195, 0.3);
  }

  .to-login {
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: $blue;
    font-weight: 600;
  }

  .container {
    padding: 0;
    .row {
     .col {
       padding: 0;
     } 
    }
  }

  .register-password {
    margin-bottom: 0;
  }
}

.very-weak-password {
  width: 25%;
  height: 4px;
  background-color: red;
}

.weak-password {
  width: 25%;
  height: 4px;
  background-color: orange;
}

.medium-password {
  width: 25%;
  height: 4px;
  background-color: yellow;
}

.strong-password {
  width: 25%;
  height: 4px;
  background-color: lightgreen;
}