.add-contest-bottom-bar-btn {
  padding: 5px 0 5px 0;
  width: 60%;
}

.public {
  background: $green;
}

.save {
  background: $light-blue;
}

.cancel {
  background: red;
}

.change-contest-logo-field {
  span {
    visibility: hidden;
    font-size: 40px;
    position: absolute;
    opacity: 0.8;
    width: 100%;
    left: 0;
    margin-top: 80px;
  }

  .logo-hover {
    opacity: 0.5;
    transition: 0.7ms;
  }

  .show-camera-change-logo {
    visibility: visible;
  }
}

.add-contest-basic-info-field {
  .basic-component-input-div, .basic-component-datetime-div, .basic-component-select, .basic-component-textarea-div {
    text-align: left !important;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .basic-component-checkbox-div {
    label {
      font-size: 18px;
    }
  }
}

.add-problems-to-contest-btn {
  background: $light-blue;
  width: 100%;
}

.remove-added-problems-from-contest {
  background: red;
  width: 100%;
}

.select-order-problems-contest {
  padding: 0;
  margin: 0;
  select {
    padding: 0;
  }
}