.list-users-number {
  background: $green;
  padding: 5px 0 5px 0;
  height: 100%;
}

.admin-change-role {
  width: 40%;
  padding: 0 !important;
  margin: 0;
}

.admin-set-password-btn {
  padding: 10px 5px;
}

.accept {
  background: $light-blue;
}

.cancel {
  background: red;
}