.basic {
  @extend .link-no-decoration;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.no-effect {
  &:hover {
    box-shadow: none!important;
    transform: none!important;
  }
}

.font-sm {
  font-size: 12px;
}

.text-truncate {
  &:hover {
    overflow: visible; 
    white-space: normal;
    height: auto;
  }
}

.hover-shadow {
  &:hover {
    box-shadow: 0.25rem 0.25rem 2rem -1.25rem rgba(0, 0, 0, 0.8);
  }
}